* {
  margin: auto;
}

#NavBar {
  width: 100%;
  height: 30px;
  background-color: rgb(10, 62, 107);
  color: aliceblue;
  text-align: center;
  font-weight: bold;
font-size: 35px;
  padding: 15px;
}

#para {
  margin-top: 20vh;
  width: 70%;
  height: 200px;
  background-color: rgb(135, 84, 184);
  border-radius: 20px;
  padding: 15px;
}
#para h1 {
  color: aliceblue;
  margin-bottom: 10px;
}

#footer {
  width: 100%;
  background-color: rgb(10, 62, 107);
  color: aliceblue;
  text-align: center;
  padding: 15px 0;
  font-size: 16px;


  position: fixed;
  bottom: 0;
  left: 0;
}
