* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* Main Layout */
.main-container {
  display: flex;
  flex-direction: row;
}

/* Input Section */
.input-container {
  width: 40%;
  height: 100%;
  background-color: red;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.input-container h1 {
  margin-bottom: 20px;
}

.note {
  padding: 10px;
  outline: none;
  border-radius: 5px;
}

.detail {
  height: 100px;
  margin-top: 10px;
  padding: 8px;
  resize: none;
  outline: none;
  border-radius: 5px;
}

.btn {
  margin-top: 10px;
  padding: 10px;
  outline: none;
  border-radius: 5px;
}
/* note Container */
.recent {
    display: flex;
    flex-wrap: wrap;
     gap: 12px;

    
}

.recent-c {
    width: 60%;
    height: 100%;
    margin: 20px;
}

.recent-c h1 {
margin-bottom: 20px;
}



/* Recent Notes Card */
.recent-container {
  background: url('https://static.vecteezy.com/system/resources/previews/037/152/677/non_2x/sticky-note-paper-background-free-png.png');
  background-size: cover;
  background-color: blueviolet;

  width: 141px;
  height: 200px;
  padding: 10px;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recent-container h1 {
  margin-top: 26px;
  height: 20px;
  background-color: aqua;
  font-size: 14px;
}

.recent-container p {
  background-color: bisque;
  width: 100%;
  height: 115px;
  margin-top: 10px;
  font-size: 10px;
}

.recent-container button {
  padding: 2px;
  font-size: 12px;
  width: 75px;
  margin-left: 23px;
  margin-top: 10px;
}
