.output h1 {
    color:  rgb(146, 148, 5);;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.output button {
  background-color: rgb(146, 148, 5);
  border: none;
  width: 100px;
  height: 75px;
}