* {
  font-family: Helvetica, sans-serif;
  color: #fff;
}
body {
  background-color: rgb(34, 34, 34);

}
#card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#card {
  width: 300px;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 20px;
}

#card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid white;
}

#card button {
  width: 100px;
  height: 40px;
  background-color: white;
  color: #111;
  border-radius: 13px;
  border: none;
  margin-top: 10px;
}